h2 {
    font: var(--heading2);
}

h4 {
    font: var(--heading4);
}

span, .cart__priceAndRemoveBtn p, .cart__priceAndRemoveBtn button {
    font: var(--caption);
}

p, .cart__checkout__removeAll {
    font: var(--body-600);
}